.yp-video-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 20vw;
  margin-left: 3vw;
}
  .yp-video-list_item {
    flex: 1;
    box-sizing: border-box;
  }