.youpwn-app-main-content {
  display: flex;
  flex-direction: row;
  margin: 2%;
  min-height: 80vh;
}
.yp-loading-text {
  color: #fff;
  flex: 1;
  align-self: center;
  text-align: center;
  font-weight: bold;
  font-size: .875em;
  color: #666;
}