.yp-video-item {
  max-width: 100%;
  min-width: 120px;
  min-height: 150px;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.yp-video-item button {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Monosten", sans-serif;  
}
.yp-video-item button:active {
  opacity: .2;
}
.yp-video-item img {
  max-width: 100%;
}

.yp-video-detail {

}

.yp-video-detail h1 {
  color: #fff;
  font-size: 1.5rem;
  text-transform: lowercase;
  font-weight: bold;
  margin-bottom: .8em;
}
.yp-video-detail_description {
  color: #fff;
  line-height: 1.5;
  margin-top: 1em;
}